<!doctype>
	<html>
		<title>
		Admin info.
		</title>
			<h1>
			<p align="center">
			Administrator Information.
			</p>
			</h1>
		<h3>
		Who is an administrator?
		</h3>
	<body>
		<p>
		The administrator is the person who acts as a 'superuser' and therefore can alter Panma database and can create changes that no other user can alter. He/she has all the capability to adjust the schedule and plans. It is efficient because all other staff members can rely on the information given by the Administrator which will be unison with all other employees.
		</p>
	</body>
</html>