<!doctype html>
	<html>
		<title>
		Welcome to Panma.
		</title>
			<h1>
				<p align="center">
				Welcome to Panma.
				</p>
			</h1>
		<body>
				<p>
		This is an application that is free to use for the purpose of maintaining records and tracking the work done by employees in an institution or facility.
				</p>
				<p>
		Welcome and feel free to browse on the features present and explore
				</p>
		</body>
			<h2>
		Thankyou for passing bye.
			</h2>
		<p>
	For more details go to the Introduction Page.
		</p>
</html>