<!doctype html>
	<html>
		<title>
		Going about Panma.
		</title>
			<h1>
			<p align="center">
			Introduction.
			</p>
			</h1>
		<h3>
		What is Panma about?
		</h3>
			<body>
				<p>
				This is an application that keeps a record of employees at Panma Hotels and Restaurant. It keeps a record(s) of the progress of work that has been done if at all certain utilities that needed attending have been attended to and addressed with respect to the Administrators approval or denial.
				</p>
			<p>
			It maintains a list of employees names, their ID(unique), contact details and where exactly there conduct their work; what they have repaired or if there is anything that needs repair concerning their specific field.
			</p>
		<p>
		They will get a notification that tells them that they have not yet attended to the tasks that are pending and have not been completed; therefore they are kindly sent an sms notification that kindly reminds them to attend to their pending tasks if approved or they will be liable to dire consequences.
		</p>
			</body>
		<h3>
		What problem it solves
		</h3>
	<p>
	It solves the problem of supervisers struggling to track the movements of employees in order to ensure the work has been done. It has gradually become an ineffective method with many time constraints and no customer satisfaction.
	</p>
		<h3>
		Benefits
		</h3>
	<p>
	It is beneficial in the sense that one is able to track/monitor employee movements in order to ensure that a certain criteria has been met and the consequences are well stipulated for both the supervisor and the employee. This helps avoid time wasting in order to promote effeciency in tasks issued.
	</p>
</html>